@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Outfit', sans-serif; */
}

/* Se deixar ativa essa parte dá erro no rodape das demais páginas, welcome.blade.php */
body{
   
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3crect width='1280' height='720' x='0' y='0' fill='%23f0f0f0'%3e%3c/rect%3e%3cpath d='M0,136 L1280,136 L1280,720 L0,720 Z' fill='%23c0c0c0'%3e%3c/path%3e%3cpath d='M0,579 L1280,579 L1280,720 L0,720 Z' fill='%23808080'%3e%3c/path%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 



    /* color: #50c878; /* Verde esmeralda */
    #menu-title {
        color: rgba(255, 215, 0, 1); 
        font-size: 20px;
        font-weight: bold;
        /* margin-top: 10px; 
        padding: 15px; */
        text-align: center; 
    }

    #menu-icon {
        font-size: 54px;
      }

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: rgba(255, 215, 0, 1); 
}

ul li.item-menu:hover{
    background: rgba(255, 215, 0, 1); 
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    /* padding: 20px 4%; */
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon{
    position: relative;
    left: 10%;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

#arrecadacao-estimada-container {
    color: green;
    /* background-color: #c0c0c0; */
    padding: 2%;
    margin-top: 10px;
    
}

#taxa-publicacao-container {
    color: red;
    /* background-color: #c0c0c0; */
    padding: 1.5%;
    margin-top: 5px;
}

#successModalLabel {
    color: green;
}

.rifa-create-container {
    margin-top: 0 !important;
}


#taxapublicacao {
    color: red;
}
#arrecadacao {
    color: green;
}

.centralized-content2 h4 {
    display: none;
}
.centralized-content2 #statusCobranca {
    display: none;
}

 /* Adicionando estilo personalizado */
 .table {
    margin: auto; /* Centralizar a tabela */
    width: 80%; /* Definir uma largura para a tabela */
}

.table th, .table td {
    padding: 8px; /* Reduzir o espaçamento interno das células */
}

.table tbody tr:hover {
    background-color: #d6e9f9; /* Adicionar uma cor de destaque ao passar o mouse sobre as linhas */
}

/* Adicionando estilo personalizado a página dashboard-minhas-rifas */
.custom-close-button {
    width: 2vw;
}

#h1-minhas-rifas {
margin-bottom: 80px;
}

#id-tabela-minhas-rifas {
margin-top: 10%;
}

#form-act {
    margin-top: 5%;
}

.btn-copy {
    background-color: #c0c0c0;
    border: 2px solid #c0c0c0;
}

label {
    font-family: cursive;
}

/* Para telas grandes /////////////////////////////////////////////////////////////////////*/
@media (min-width: 767px) {

    .col-md-12 h2{
        margin-top: 2.5%;
    }

    ul li.item-menu a .txt-link{
        opacity: 1;
    }
   
    .btn-expandir{
        width: 100%;
        padding-left: 50px;
        display: none;
    }

    nav.menu-lateral{
        width: 300px;
        height: 100%;
        background-color: #202020;
        padding: 14px 0 40px 1%;
        box-shadow: 3px 0 0 rgba(255, 215, 0, 1);
        position: fixed;
        top: 0;
        overflow: hidden;
        transition: .5s;
    }

    nav.menu-lateral.expandir{
    width: 300px;
    }

    .conteudo-central {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 55%;
        margin: 2% auto;
        transition: transform 0.3s ease;
    }

    .conteudo-central .centralized-content1 {
        margin-top: 30px;
        /* background-color: red; */
        height: 100%;
    }

    .conteudo-central .centralized-content2 {
        margin-top: 30px;
        /* background-color: red; */
    }

    .conteudo-central .centralized-content3 {
        margin-top: 0px;
        /* background-color: red; */
    }
    /* .conteudo-central .centralized-content4 h6{
        color: black;
        background-color: #a31b1b;
        padding: 15px;
        margin-top: 0;
    }
    .conteudo-central .centralized-content4 h5{
        color: black;
        background-color: green;
        padding: 15px;
        margin-top: 0;
    }

    .conteudo-central .centralized-content4 img{
        width: 80px;
        height: 30px;
    } */

    .btn-primary {
        background-color: rgba(255, 215, 0, 1);
        border: 2px solid rgba(255, 215, 0, 1);
        color: black !important;
        font-weight: bold;
        width: 10vw;
        margin-bottom: 15%;
     }
     
     .btn-primary:hover {
        background-color: rgb(207, 179, 24) !important;
        border-color: rgba(255, 215, 0, 1);
        color: white !important;
    }
    

    .conteudo-central .centralized-content2 span{
        
        background-color: rgba(255, 215, 0, 1);
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        font-size: 1.5vw;

    }
    .alert-info  {
        /* padding-left: 10px !important; */
        text-align: center !important;
        max-width: 40%;
        margin: 0 auto;
        background-color: rgba(255, 215, 0, 1);
        color: black;
}

.alert-info a {
    color: green;
}

.form-control {
    margin-bottom: 13px;
}

    ol, ul {
        margin-left: -2.5rem !important;
    }

    #img-camp {
        width: 500px;
        height: 300px;
    }
}

/* Para telas pequenas até 767 pixel //////////////////////////////////////////////////// */

@media (max-width: 767px) {
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Se iverter a ordem com o stilo de cima da pai na rota create_rifa */
    body{
        /* background-color: red; */
        margin-left: 13vw;
    } 

    .btn-expandir{
    width: 100%;
    padding-left: 50px;
    }

    nav.menu-lateral{
        width: 100%;
        height: 100%;
        background-color: #202020;
        padding: 14px 0 40px 1%;
        box-shadow: 3px 0 0 rgba(255, 215, 0, 1);
    
        position: fixed;
        top: 0;
        left: -43px;
        overflow: hidden;
        transition: .5s;
        z-index: 1000;
    }

    nav.menu-lateral.expandir{
    width: 100%;
    }

    nav.menu-lateral {
        width: 90px;
    }
    
    #event-create-container {
        padding: 30px;
         /* background-color: red;  */
        margin-top: 100px;
    }

    #menu-title {
        color: rgba(255, 215, 0, 1);
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-left: 08px;
    }

    #menu-icon {
        font-size: 24px;
      }
    

    .conteudo-central {
        position: absolute;
        top: 10%;
        left: 57%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
        text-align: center;
        font-size: 3vw;
        /* background-color: red;  */

    }

    body.menu-expandido .conteudo-central {
        opacity: 0;
        pointer-events: none;
    }

    #id-tabela-minhas-rifas {
        width: 100%;
        margin: 0 auto; /* Centraliza a div horizontalmente */
        margin-top: 20%;
    }

    .conteudo-central .centralized-content2 span{
        
         /* background-color: rgba(255, 215, 0, 1);  */
        padding: 2px;
        /* padding-left: 20px; */
        padding-right: 20px;
        border-radius: 10px;
        font-size: 4vw;
        font-family: cursive;
        font-weight: bold;
    }

    .conteudo-central .centralized-content2 h6{
        width: 90%;
        word-wrap: break-word;
        position: relative; /* Garante que o z-index funcione corretamente */
        z-index: 999;
        margin: 0 auto;
    }

    .conteudo-central .centralized-content2 h5{
        width: 90%;
        word-wrap: break-word;
        position: relative; /* Garante que o z-index funcione corretamente */
        z-index: 999;
        margin: 0 auto;
        font-size: 4vw;
    }


    .col-md-12 h2{
        font-size: 4vw;
    }

    .col-md-12 h5{
        font-size: 3.8vw;
    } 

    #payloadQrCode{
        font-size: 3vw;
    }

    .btn-copy {
        font-size: 3vw;
    }

    #form-act {
        margin-top: 80%;
    }

    /* Adicionando estilo personalizado ao botão modal gerar link */
    .custom-close-button {
    width: 6vw;
    border-radius: 5px;
    }
  

}

